$btn_download: #4d96a8;
$btn_what: #855fb1;
$title: #28283d;
$description: #87879d;
$btn_download_hover: #8fe3f9;
$btn_what_hover: #b18bdd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.hero {
  text-align: center;
  &__logo {
    margin-block-start: 3em;
  }

  &__title {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: $title;
    line-height: 48px;
    margin-block-end: 0.8em;
  }

  &__flex {
    display: flex;
    height: 12em;
    margin-block: 3em;
    overflow-x: hidden;

    & img:nth-child(1) {
      position: relative;
      left: -1.4rem;
    }
  }

  &__subtitle {
    color: $description;
    margin-inline: 1em;
    font-family: "Red Hat Display", sans-serif;
    margin-block-end: 2em;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.7;
  }

  &__btn {
    width: fit-content;
    padding: 1em;
    padding-inline: 2em;
    border-radius: 3em;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    color: white;
  }
  &__btn__download {
    background-color: $btn_download;
    &:hover{
      background-color: #71C0D4;
      transition: 0.4s ease;
      cursor: pointer;
    }
  }

  &__btn__flex {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1em;
    flex-direction: column;

    & span {
      color: $btn_download_hover;
    }
  }

  &__btn__what {
    background-color: $btn_what;
    &:hover{
      background-color: #b18bdd;
      transition: 0.2s ease;
      cursor: pointer;
    }
  }
}

.divider-line {
  display: grid;
  place-items: center;
  margin-block: 2em;
}
.divider-line-lower {
  display: grid;
  place-items: center;
  margin-block: 2em;
  position: relative;
  bottom: -4rem;
  z-index: 1;
}

.grid {
  display: grid;
  padding: 2em;
  gap: 1.7em;
  grid-template-columns: repeat(2, 1fr);
  margin-block-end: 2em;
  // place-items: center;
  & img {
    border-radius: 1em;
    max-width: 100%;
  }
}

.grid__content {
  text-align: center;

  &__small {
    color: $btn_download;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 1em;
    font-family: "Red Hat Display", sans-serif;
    margin-block-end: 1em;
  }

  &__title {
    font-family: "Red Hat Display", sans-serif;
    margin-inline: 1em;
    margin-block-start: .4em;
    margin-block-end: .6em;
    font-weight: 900;
    color: $title;
    font-size: 40px;
  }

  &__description {
    font-family: "Red Hat Display", sans-serif;
    color: $description;
    margin-inline: 6.3em;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }
}

.experience {
  text-align: center;
  background-image: linear-gradient(
      rgb(77, 150, 168, 0.9),
      rgb(77, 150, 168, 0.8)
    ),
    url(../assets/mobile/image-footer.jpg);
  padding: 3em;
  mix-blend-mode: screen;
  background-size: cover;
  background-position-y: 20%;

  &__title {
    font-family: "Red Hat Display", sans-serif;
    color: white;
    margin-inline: 1em;
    font-size: 40px;
    line-height: 44px;
    margin-block-start: 1.1em;
  }

  &__description {
    font-family: "Red Hat Display", sans-serif;
    margin-inline: 3em;
    color: white;
    margin-block-start: 1.5em;
    line-height: 26px;
    font-size: 18px;
    margin-block-end: 3em;
  }

  &__button {
    width: fit-content;
    padding: 1em;
    padding-inline: 2em;
    border-radius: 3em;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 16px;
    height: fit-content;
    background-color: #855fb1;
    margin-block-end: 4em;
  }
}

@media only screen and (min-width: 768px) {
  .hero__flex {
    height: 19em;
    width: auto;

    & img:nth-child(2) {
      position: relative;
      right: -1.4rem;
    }
  }

  .hero__title {
    font-size: 48px;
    margin-inline: 4.5em;
    line-height: 48px;
    text-align: center;
  }

  .hero__subtitle{
    margin-inline: 6em;
  }

  .hero__btn__flex{
    flex-direction: row;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

}

@media only screen and ( min-width: 1440px ){
  .hero__content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 11.5rem;
    margin-inline: 6em;
    align-items: center;
  }

  .grid{
    display: grid;
    place-items: center;
  }

  .hero__flex{
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .hero__title{
    padding-inline: 4em;
    font-size: 53px;
  }

  .hero__subtitle{
    margin-inline: 19em;
  }

  .grid__content__title{
    padding-inline: 11.3em;
    line-height: 1.1;
  }

  .grid img{
    margin: 2em;
    height: 21em;
    width: auto;
    border-radius: .3em;
  }

  .grid__content__description{
    padding-inline: 25em;
    font-weight: 500;
  }

  .experience{
    display: flex;
    padding: .5em;

    &__title{
      margin-block-start: 1.7em;
      margin-inline-start: 2.4em;
      text-align: left;
      font-size: 2.1rem;
      line-height: 1;
    }

    &__description{
      text-align: left;
       margin-block-start: 3.4em;
      padding-inline: 10em;
    }

    &__div{
      margin-block-start: 2em;
    }
    &__button{
      white-space: nowrap;
      margin-block-start: 4em;
      margin-inline-end: 4em;
    }
  }
}